*{
    background-color: rgb(250, 235, 251);
}

/* divs */
#header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin: 30px;
}

#currently, #previously, #links, #about, #quote {
    margin: 30px;
}

/* images */
#ashna{
    border-radius: 20%;
}

/* text */
p,li,h3 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

#ashnanirula {
    font-family: "DM Serif Display", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 0.25px;
}

h2{
    font-family: "DM Serif Display", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px; 
}

h3{
    font-weight: 700;
}

/* buttons */
button{
    border-radius: 5%;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    border-color: rgb(165, 123, 170);
    background-color:rgb(165, 123, 170);
    color: white;
}

#updates{
    
    border-color: rgb(210, 131, 186);
    background-color:rgb(210, 131, 186);
    color: white;
}

button:hover{
    background-color: rgb(217, 52, 134);
    border-color:rgb(217, 52, 134) ;
}

#updates:hover{
    background-color: rgb(217, 52, 134);
    border-color:rgb(217, 52, 134) ;
}

/* general links */
a{
    font-weight: 400;
    color: rgb(165, 123, 170);
}

a:hover{
    color:rgb(217, 52, 134);
}